<index: arrays="option/options" element="d-select">
  <div class="{{ns}} {{ns}}-{{if open}}open{{else}}closed{{/}} {{ns}}-{{unless editable}}un{{/}}editable {{ns}}-{{if focus}}focus{{else}}blur{{/}} {{ns}}-{{if multiple}}multiple{{else}}single{{/}} {{ns}}-{{unless selected.length}}un{{/}}selected {{class}}">
    <label class="{{ns}}-textbox">
      <ul class="{{ns}}-textbox-items">
        {{each selected as #selection, #i}}
        <li class="{{ns}}-textbox-item {{ns}}-textbox-item-selection">
          <view name="{{viewSelection}}" selection="{{#selection}}" index="{{#i}}"></view>
        </li>
        {{/}}
        <li class="{{ns}}-textbox-item {{ns}}-textbox-item-input">
          <input class="{{ns}}-textbox-input" as="input" id="{{inputId}}" on-input="oninput($event)" on-focus="onfocus()" on-blur="onblur()" placeholder="{{@placeholder}}" readonly="{{!editable}}" type="text" value="{{text}}">
        </li>
      </ul>
    </label>
    <div class="{{ns}}-dropdown">
      {{if loading}}
      <view name="{{viewLoading}}"></view>
      {{else}}
      <ul class="{{ns}}-dropdown-items">
        {{if @placeholder && !editable}}
        <li class="{{ns}}-dropdown-item" on-click="onclick($event)" on-mousedown="onpress($event)">
          <div class="{{ns}}-dropdown-placeholder">
            {{@placeholder}}
          </div>
        </li>
        {{/}}
        {{each options as #option, #i}}
        <li class="{{ns}}-dropdown-item {{if cursor === #i}}hover{{/}}" on-click="onclick($event, optionId(#option))" on-mousedown="onpress($event)">
          <view name="{{viewOption}}" option="{{#option}}" index="{{#i}}"></view>
        </li>
        {{/}}
      </ul>
      {{/}}
    </div>
  </div>

<loading:>
  <!-- empty -->

<selection:>
  <div class="{{ns}}-textbox-selection">
    {{@selection.text}}
  </div>

<option:>
  <div class="{{ns}}-dropdown-option">
    {{@option.text}}
  </div>
